# This config file was created by Ansible
default: &default
  host:             {{ ezid_host }}
  port:             {{ ezid_port }}
  user:             <%= Rails.application.secrets.ezid_user %>
  password:         <%= Rails.application.secrets.ezid_pass %>
  default_shoulder: <%= Rails.application.secrets.ezid_default_shoulder %>
+
+development:
+  <<: *default
+
+test:
+  <<: *default
+
+production:
+  <<: *default