#!/bin/bash
export PGPASSWORD="{{ hydra_pg_pass }}"
# removes 2-day-old backup
rm {{ project_base }}/pg_backups/hydra_day_old.bak
# renames lates backup to day-old
mv {{ project_base }}/pg_backups/hydra.bak {{ project_base }}/pg_backups/hydra_day_old.bak
# does fresh backup of hydra database
pg_dump -U {{ hydra_pg_user }} hydra > {{ project_base }}/pg_backups/hydra.bak